{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Of Games</title>
    <link rel="stylesheet" href="{% static 'css/res.css' %}">
</head>
<body style="background-image:url('{% static 'img/space.jpg' %}');">
    <h1><i>OCEAN OF GAMES</i></h1>
<div class="header">
    <div class="header1">
        <nav>
            <ul><li><a href="{% url 'home' %}" class="home">HOME</a></li>
                <li><a href="{% url 'Action' %}">Action</a></li>
                <li><a href="{% url 'adventure' %}">Adventure</a></li>
                <li><a href="{% url 'arcade' %}">Arcade</a></li>
                <li><a href="{% url 'Fighting' %}">Fighting</a></li>
                <li><a href="{% url 'Horror' %}">Horror</a></li>
                <li><a href="{% url 'Puzzle' %}">Puzzle</a></li>
                <li><a href="{% url 'Racing' %}">Racing</a></li>
                <li><a href="{% url 'shooting' %}">shooting Games</a></li>
                <li><a href="{% url 'Simulation' %}">Simulation</a>
                     <li><a href="{% url 'no_games' %}">sports</a></li>
                        <li><a href="{% url 'Action' %}">War</a></li>
                       <li><a href="{% url 'no_games' %}">Strategy</a></li>
                        <li><a href="{% url 'adventure' %}">Mystery</a></li>
                        <li><a href="{% url 'no_games' %}">Fantacy</a></li>
                        <li><a href="{% url 'GTA_GAMES' %}">GTA games</a></li>
                        <li><a href="{% url 'no_games' %}">RPG</a></li>
                        <li><a href="{% url 'no_games' %}">survival</a></li>
                        <li><a href="{% url 'no_games' %}">Trainer</a></li> </ul>
        </nav></div>
    </div>
<div class="main">

      <!--------------------------first game-------------------------------->

    <div class="box1 box">
        <div> <img src="{% static 'img/Skele.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
       <div><h2 ><a href="{% url 'goosebumbs' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Goosebumps Dead of Night Free Download</a></h2>
        <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 years ago</label>  <b style="font-size: 15px;">In Action.....</b></pre>
    <p>Goosebumps  Dead of Night Free Download P game setup in single direct link for Windows.it is an amazing ation indie games
        <br><br><b>Goosebumps</b> total file size : 1.42GB
    </p></div>
    Goosebumps  the  best game of action  available here!!!!..
    </div>

    <div class="box2">
        <div class="container">
            <form action="responsive website.html" class="searchbox">
                <input type="text" name="search" placeholder="search box">
                <button ><img src="{% static 'img/search.png' %}" alt="GO"></button>
            </form>
            <br><br><p class="svs">AD BLOCK</p>

        </div>
    </div>

        <!------------------------------secound game---------------------------------->

    <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/xmen.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
    <div><h2 ><a href="{% url 'xmen' %}" style="color: rgb(49, 161, 49); font-size: 30px "> X-MEN Orgins Free Download</a></h2>
     <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>6 month's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
 <p>X-Men orgins for Free Download P game setup in single direct link for Windows.it is an amazing ation &Adventure indie games.
    <br><br><b>x-men Orgins </b>total  file size : 600MB
 </p></div>
           X-men the  best game of action $Adventure  available here!!!!..
        </div>

    <div class="box6 ">

        <div class="ads">
      <div class="ading">   <img src="{% static 'img/iron.jpg' %}" alt="" style="height:100%; width: 100%;"> </div>
       <div class="ading">  <img src="{% static 'img/hulk.jpg' %}" alt="" style="height:100%; width: 100%;">
 </div>
        <div class="ading"> <img src="{% static 'img/ad6.jpg' %}" alt="" style="height:100%; width: 100%;"> </div>
        <div class="ading"> <img src="{% static 'img/xmen.jpg' %}" alt="" style="height:100%; width: 100%;"> </div>
             <div class="ading">   <img src="{% static 'img/moto1.jpg' %}" alt="" style="height:100%; width: 100%;">
 </div>
    </div></div>

    <!------------------------theard game------------------>

    <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/moto1.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
    <div><h2 ><a href="{% url 'hill_climber' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Hill Climber Free Download</a></h2>
     <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 month's ago</label>  <b style="font-size: 15px;">In Racing....</b></pre>
 <p>Hill Climber for Free Download P game setup in single direct link for Windows.it is an amazing racing indie games.
    <br><br><b>Hill Climber </b>total file size : 930MB
 </p></div>
Hill climber the  best game of Racing available here!!!!..</div>

    <div class="box5 box"> <div class="hidden">MV34-ND324-2932MG</div> <div class ="key"><b ><div>Prodect key............</div> your mouse in the aera on showing in prodect key</b></div>
   <BR></BR><div class="hand1"><img src="{% static 'img/R.png' %}" alt="" width="100%" id="lh"></div><div class="prodect">XXXX-XXXXX-XXXXXX</div>
<div class="hand2"><img src="{% static 'img/L.png' %}" alt="" width ="100%"></div></div>

     <!------------------------fivth game------------------>

    <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/gears.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
    <div><h2 ><a href="{% url 'gears_of_war' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Gears Of War Free Download</a></h2>
     <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 Year's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
 <p>Gears Of War for Free Download P game setup in single direct link for Windows.it is an amazing Action & Adventure indie games.
    <br><br><b>Gears Of War </b>total file size : 3.84 Gb
 </p></div>
 Gears Of War the  best game of Action & Adventure available here!!!!..</div>
<!-------------------------------account login--------------------->
    <div class="box7 box"><div id="account"><div class="account">Account login</div></div>
    <hr><form action="" id="form">
    <br><div class="user">
    <input type="text" name="user" placeholder="Username" id="name" onkeyup="username()" required> <div id="ANS"><img src="true1.jfif" alt="" width="50px" class="tick" style="border-radius: 100%;"></div>
</div>
<br><br>
<div class="pass"> <input type="password" name="password" placeholder="Password" id="pass" onkeyup="pass()" required> </div>
<br><br><br><div class="check"><input type="checkbox" name="check" required>Remember me</div><br>
<button id="login" onclick="log()">login</button>
<br><br><div class="ca">
<a href="{% url 'login' %}">Create account !!</a><a href="">forgot password ?</a></div>
<br><br><br><br><div class="rea"><input type="reset" name="reset"></div></form> <div class="gif">FREE GIFT</div><hr><br>
<div class="ms">login for microsoft account <a href="">click</a> here <br> in microsoftwindows2007@gmail.com</div>
</form><br><br>
<hr>
<div class="gift"> <img src="{% static 'img/gift.jfif' %}" alt=""  width="100%" height="100%" style="border-radius: 50%;" id="gift1"></div>
</div>





   <!-----------------------fivth game----------------------------------->

   <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/hulk.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
   <div><h2 ><a href="{% url 'hulk' %}" style="color: rgb(49, 161, 49); font-size: 30px "> The Hulk Free Download</a></h2>
    <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 Year's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
<p>The Hulk for Free Download P game setup in single direct link for Windows.it is an amazing Action & Adventure indie games.
   <br><br><b>The Hulk </b>total file size : 2.53 GB
</p></div>
The Hulk the  best game of Action & Adventure available here!!!!..</div>


  <!-----------------------------sixth game--------------------------------------------------->

  <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/iron.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
  <div><h2 ><a href="{% url 'iron' %}" style="color: rgb(49, 161, 49); font-size: 30px ">Iron Man Free Download</a></h2>
   <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>2 Year's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
<p>Iron Man for Free Download P game setup in single direct link for Windows.it is an amazing Action & Adventure indie games. <br>Mostly one of the best game
  <br><br><b>Iron Man </b>total file size : 1.43 GB
</p></div>
Iron Man the  best game of Action & Adventure available here!!!!..</div>

 <!-----------------------------seventh game--------------------------------------------------->

<div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/car.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
<div><h2 ><a href="{% url 'nfs' %}" style="color: rgb(49, 161, 49); font-size: 30px ">Need For Speed Free Download</a></h2>
 <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>2 Year's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
<p>Need For Speed for Free Download P game setup in single direct link for Windows.it is an amazing Racing indie games. <br>Mostly one of the best game
<br><br><b>Need For Speed </b>total file size : 1.43 GB
</p></div>
Need For Speed the  best game of Racing available here!!!!..</div>

<div class="box">
    <div class="si"><i>Minimum System Requirements</i></div>
      <div> <table class="tab">
            <ul class="my">
                <tr>
                    <th>OS (operating sysytem) supported :  </th>
                    <td>Windows 11,</td>
                </tr>
                <tr> <th></th>
                    <td>windows 10,</td>
                </tr>
                <tr> <th></th>
                    <td>windows 8,</td>
                </tr>
                <tr> <th></th>
                    <td>windows 8.1,</td>
                </tr>
                <tr><th>PROCESSOR (minimum) : </th><TD>AMD pro 2.50GHz.</TD></tr>
                <tr> <th>RAM (maximum) : </th>
                    <td>8 GB.</td>
                </tr>
                <tr> <th>DIRECT X (version): </th>
                    <td>11 C.</td>
                </tr>
            </ul>
           </table></div>



</div>
</div>
    <div class="pages">
    <div class="page">page's</div>
    <div class="page1"><a href="{% url 'home' %}" style="text-decoration: underline; box-shadow: 1px 5px 10px 5px rgb(255, 0, 0);">1</a></div>
    <div class="page1"><a href="{% url 'home2' %}">2</a></div>
        <div class="page1"><a href="{% url 'home3' %}">3</a></div>
   </div>
<div class="footer" style="text-align:center; "><br><br>
    <a href="" style="margin-right:20px;">sitemap</a>
    <a href="" style="margin-left:20px;">contact microsoft</a>
    <a href="" style="margin-left:20px;">privacy</a>
    <a href="" style="margin-left:20px;">terms of use</a><br><br>microsoftwindows2007<br> www.pc games.com <br><u>2023 - Free download pc games-pa games.all rightreserved</u></div>

</div></div>



</body>
</html>>