{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Of Games</title>
    <link rel="stylesheet" href="{% static 'css/res.css' %}">
</head>
<body style="background-image:url('{% static 'img/space.jpg' %}');">
    <h1><i>OCEAN OF GAMES</i></h1>
<div class="header">
    <div class="header1">
        <nav>
            <ul><li><a href="{% url 'home' %}" class="home">HOME</a></li>
                <li><a href="">Action</a></li>
                <li><a href="">Adventure</a></li>
                <li><a href="">Arcade</a></li>
                <li><a href="">Fighting</a></li>
                <li><a href="">Horror</a></li>
                <li><a href="">Puzzle</a></li>
                <li><a href="">Racing</a></li>
                <li><a href="">shooting Games</a></li>
                <li><a href="">Simulation</a>
                     <li><a href="">sports</a></li>
                        <li><a href="">War</a></li>
                       <li><a href="">Strategy</a></li>
                        <li><a href="">Mystery</a></li>
                        <li><a href="">Fantacy</a></li>
                        <li><a href="">GTA games</a></li>
                        <li><a href="">RPG</a></li>
                        <li><a href="">survival</a></li>
                        <li><a href="">Trainer</a></li> </ul>
        </nav></div>
    </div>
<div class="main">

      <!--------------------------first game-------------------------------->

    <div class="box1 box">
        <div> <img src="{% static 'img/cod4.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
       <div><h2 ><a href="{% url 'cod4' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Call Of Duty-4 Free Download</a></h2>
        <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>3 years ago</label>  <b style="font-size: 15px;">In  shooting.....</b></pre>
    <p>Call Of Duty-4 Free Download P game setup in single direct link for Windows.it is an amazing  shooting indie games
        <br><br><b>Call Of Duty-4</b> total file size : 2.45 GB
    </p></div>
   Call Of Duty-4 the  best game of  shooting  available here!!!!..
    </div>

    <div class="box2">
        <div class="container">
            <form action="responsive website.html" class="searchbox">
                <input type="text" name="search" placeholder="search box">
                <button ><img src="{% static 'img/search.png' %}" alt="GO"></button>
            </form>
            <br><br><p class="svs">AD BLOCK</p>

        </div>
    </div>

        <!------------------------------secound game---------------------------------->

    <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/dragon.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
    <div><h2 ><a href="{% url 'dragon' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Dragon Age II Free Download</a></h2>
     <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>8 month's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
 <p>Dragon Age II for Free Download P game setup in single direct link for Windows.it is an amazing ation &Adventure indie games.
    <br><br><b>Dragon Age II </b>total  file size : 7.60GB
 </p></div>
           Dragon Age II the  best game of action & Adventure  available here!!!!..
        </div>

    <div class="box6 ">

        <div class="ads">
        <div class="ading"><img src="{% static 'img/dragon.ico' %}" alt="" style="height:100%; width: 100%;"></div>
        <div class="ading"> <img src="{% static 'img/car.jpg' %}" alt="" style="height:100%; width: 100%;"></div>

          <div class="ading"><img src="{% static 'img/assasion-creed.ico' %}" alt="" style="height:100%; width: 100%;"></div>
      <div class="ading">   <img src="{% static 'img/gta4.ico' %}" alt="" style="height:100%; width: 100%;"></div>
               <div class="ading">  <img src="{% static 'img/gta-vice-city.ico' %}" alt="" style="height:100%; width: 100%;"></div>

    </div></div>

    <!------------------------theard game------------------>

    <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/gta-vice-city.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
    <div><h2 ><a href="{% url 'GTA_vice_city' %}" style="color: rgb(49, 161, 49); font-size: 30px ">GTA vice city Free Download</a></h2>
     <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 month's ago</label>  <b style="font-size: 15px;">In action....</b></pre>
 <p>GTA vice city for Free Download P game setup in single direct link for Windows.it is an amazing gta indie games.
    <br><br><b>GTA vice city  </b>total file size : 45.6GB
 </p></div>
GTA vice city  the  best game of action available here!!!!..</div>

    <div class="box5 box"> <div class="hidden">MV34-ND324-2932MG</div> <div class ="key"><b ><div>Prodect key............</div> your mouse in the aera on showing in prodect key</b></div>
   <BR></BR><div class="hand1"><img src="{% static 'img/R.png' %}" alt="" width="100%" id="lh"></div><div class="prodect">XXXX-XXXXX-XXXXXX</div>
<div class="hand2"><img src="{% static 'img/L.png' %}" alt="" width ="100%"></div></div>

     <!------------------------fivth game------------------>

    <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/gta-5.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
    <div><h2 ><a href="{% url 'GTA_IV' %}" style="color: rgb(49, 161, 49); font-size: 30px ">GTA IV Free Download</a></h2>
     <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 Year's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
 <p>GTA IV for Free Download P game setup in single direct link for Windows.it is an amazing Action & Adventure indie games.
    <br><br><b>GTA IV </b>total file size : 5.84 Gb
 </p></div>
GTA IV the  best game of Action & Adventure available here!!!!..</div>
<!-------------------------------account login--------------------->
    <div class="box7 box"><div id="account"><div class="account">Account login</div></div>
    <hr><form action="" id="form">
    <br><div class="user">
    <input type="text" name="user" placeholder="Username" id="name" onkeyup="username()"required> <div id="ANS"><img src="true1.jfif" alt="" width="50px" class="tick" style="border-radius: 100%;"></div>
</div>
<br><br>
<div class="pass"> <input type="password" name="password" placeholder="Password" id="pass" onkeyup="pass()"required> </div>
<br><br><br><div class="check"><input type="checkbox" name="check" required>Remember me</div><br>
<button id="login" onclick="log()">login</button>
<br><br><div class="ca">
<a href="">Create account !!</a><a href="">forgot password ?</a></div>
<br><br><br><br><div class="rea"><input type="reset" name="reset"></div></form> <div class="gif">FREE GIFT</div><hr><br>
<div class="ms">login for microsoft account <a href="">click</a> here <br> in microsoftwindows2007@gmail.com</div>
</form><br><br>
<hr>
<div class="gift"> <img src="{% static 'img/gift.jfif' %}" alt=""  width="100%" height="100%" style="border-radius: 50%;" id="gift1"></div>
</div>





   <!-----------------------fivth game----------------------------------->

   <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/Prince-of-Persia.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
   <div><h2 ><a href="{% url 'prince_of_persia_II' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Prince-of-Persia II Free Download</a></h2>
    <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>2 Year's ago</label>  <b style="font-size: 15px;">In Action & Adventure....</b></pre>
<p>Prince-of-Persia II for Free Download P game setup in single direct link for Windows.it is an amazing Action & Adventure indie games.
   <br><br><b>Prince-of-Persia II </b>total file size : 3.8 GB
</p></div>
Prince-of-Persia II the  best game of Action & Adventure available here!!!!..</div>


  <!-----------------------------sixth game--------------------------------------------------->

  <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/cry.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
  <div><h2 ><a href="{% url 'Far_cry_3' %}" style="color: rgb(49, 161, 49); font-size: 30px ">Far Cry 3 Free Download</a></h2>
   <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 Year's ago</label>  <b style="font-size: 15px;">In Action & shooting ....</b></pre>
<p>Far Cry 3 for Free Download P game setup in single direct link for Windows.it is an amazing Action & shooting  indie games. <br>Mostly one of the best game
  <br><br><b>Far Cry 3 </b>total file size : 950 MB
</p></div>
Far Cry 3 the  best game of Action & shooting available here!!!!..</div>

 <!-----------------------------seventh game--------------------------------------------------->

<div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/alien.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
<div><h2 ><a href="{% url 'Alien_Shooter' %}" style="color: rgb(49, 161, 49); font-size: 30px ">Alien Shooter Free Download</a></h2>
 <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>2 Year's ago</label>  <b style="font-size: 15px;">In shooting....</b></pre>
<p>Alien Shooter for Free Download P game setup in single direct link for Windows.it is an amazing  shooting indie games. <br>Mostly one of the best game
<br><br><b>Alien Shooter</b>total file size : 1.3 GB
</p></div>
Alien Shooter the  best game of shooting available here!!!!..</div>

<div class="box">
    <div class="si"><i>Minimum System Requirements</i></div>
      <div> <table class="tab">
            <ul class="my">
                <tr>
                    <th>OS (operating sysytem) supported :  </th>
                    <td>Windows 11,</td>
                </tr>
                <tr> <th></th>
                    <td>windows 10,</td>
                </tr>
                <tr> <th></th>
                    <td>windows 8,</td>
                </tr>
                <tr> <th></th>
                    <td>windows 8.1,</td>
                </tr>
                <tr><th>PROCESSOR (minimum) : </th><TD>AMD pro 2.50GHz.</TD></tr>
                <tr> <th>RAM (maximum) : </th>
                    <td>8 GB.</td>
                </tr>
                <tr> <th>DIRECT X (version): </th>
                    <td>11 C.</td>
                </tr>
            </ul>
           </table></div>



</div>
</div>
    <div class="pages">
    <div class="page">page's</div>
    <div class="page1"><a href="{% url 'home' %}">1</a></div>
    <div class="page1"><a href="{% url 'home2' %}">2</a></div>
        <div class="page1"><a href="{% url 'home3' %}" style="text-decoration: underline; box-shadow: 1px 5px 10px 5px rgb(255, 0, 0);">3</a></div>
   </div>
<div class="footer" style="text-align:center; "><br><br>
    <a href="" style="margin-right:20px;">sitemap</a>
    <a href="" style="margin-left:20px;">contact microsoft</a>
    <a href="" style="margin-left:20px;">privacy</a>
    <a href="" style="margin-left:20px;">terms of use</a><br><br>microsoftwindows2007<br> www.pc games.com <br><u>2023 - Free download pc games-pa games.all rightreserved</u></div>

</div></div>



</body>
</html>>