<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Of Games</title>
     <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body style="background-image:url('{% static 'img/space.jpg' %}');">
    <h1><i>OCEAN OF GAMES</i></h1>
<div class="header">
     <div class="header1">
        <nav>
            <ul><li><a href="{% url 'home' %}" class="home">HOME</a></li>
                <li><a href="{% url 'Action' %}">Action</a></li>
                <li><a href="{% url 'adventure' %}">Adventure</a></li>
                <li><a href="{% url 'arcade' %}">Arcade</a></li>
                <li><a href="{% url 'Fighting' %}">Fighting</a></li>
                <li><a href="{% url 'Horror' %}">Horror</a></li>
                <li><a href="{% url 'Puzzle' %}">Puzzle</a></li>
                <li><a href="{% url 'Racing' %}">Racing</a></li>
                <li><a href="{% url 'shooting' %}">shooting Games</a></li>
                <li><a href="{% url 'Simulation' %}">Simulation</a>
                     <li><a href="{% url 'no_games' %}">sports</a></li>
                        <li><a href="{% url 'Action' %}">War</a></li>
                       <li><a href="{% url 'no_games' %}">Strategy</a></li>
                        <li><a href="{% url 'adventure' %}">Mystery</a></li>
                        <li><a href="{% url 'no_games' %}">Fantacy</a></li>
                        <li><a href="{% url 'GTA_GAMES' %}">GTA games</a></li>
                        <li><a href="{% url 'no_games' %}">RPG</a></li>
                        <li><a href="{% url 'no_games' %}">survival</a></li>
                        <li><a href="{% url 'no_games' %}">Trainer</a></li> </ul>
        </nav></div>
    </div>
<div class="main">

      <!--------------------------first game-------------------------------->
      <div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/delta.png' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
      <div><h2 ><a href="{% url 'delta_force' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Delta force(black haven) Free Download</a></h2>
       <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 month's ago</label>  <b style="font-size: 15px;">In shooting....</b></pre>
   <p>Delta force(black haven) for Free Download P game setup in single direct link for Windows.it is an amazing shooting indie games.
      <br><br><b>Delta force(black haven)  </b>total file size : 700MB
   </p></div>
  Delta force(black haven)  the  best game of shooting available here!!!!..</div>

  <!--------------------------2 game-------------------------------->


  <div class="box1 box">
    <div> <img src="{% static 'img/Resident-Evil-4.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
   <div><h2 ><a href="{% url 'Resident_Evil' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Resident Evil-4 Free Download</a></h2>
    <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>3 years ago</label>  <b style="font-size: 15px;">In Action & shooting.....</b></pre>
<p>Resident Evil-4 Free Download P game setup in single direct link for Windows.it is an amazing ation & shooting indie games
    <br><br><b>Resident Evil-4 </b> total file size : 3.50 GB
</p></div>
Resident Evil-4 the  best game of action & shooting  available here!!!!..
</div>
    <!-------------------------3game-------------------------------->
<div class="box1 box">
        <div> <img src="{% static 'img/cod4.ico' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
       <div><h2 ><a href="{% url 'cod4' %}" style="color: rgb(49, 161, 49); font-size: 30px "> Call Of Duty-4 Free Download</a></h2>
        <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>3 years ago</label>  <b style="font-size: 15px;">In  shooting.....</b></pre>
    <p>Call Of Duty-4 Free Download P game setup in single direct link for Windows.it is an amazing  shooting indie games
        <br><br><b>Call Of Duty-4</b> total file size : 2.45 GB
    </p></div>
   Call Of Duty-4 the  best game of  shooting  available here!!!!..
    </div>
        <!------------------------------4 game---------------------------------->
  

   <!--------------------------5 game-------------------------------->

<div class="box1" id="box"> <div class="img1"> <img src="{% static 'img/cry.jpg' %}" alt="picture invalid" height="200px" width="250px" id="pic"></div>
<div><h2 ><a href="{% url 'Far_cry_3' %}" style="color: rgb(49, 161, 49); font-size: 30px ">Far Cry 3 Free Download</a></h2>
 <pre style="border: 1px solid rgb(136, 134, 134); background-color: darkgrey; border-radius: 10px;"><label>1 Year's ago</label>  <b style="font-size: 15px;">In Action & shooting ....</b></pre>
<p>Far Cry 3 for Free Download P game setup in single direct link for Windows.it is an amazing Action & shooting  indie games. <br>Mostly one of the best game
<br><br><b>Far Cry 3 </b>total file size : 950 MB
</p></div>
Far Cry 3 the  best game of Action & shooting available here!!!!..</div>

    <!--------------------------6 game-------------------------------->


        <!--------------------------8 game-------------------------------->

    

  


<div class="footer" style="text-align:center; "><br><br>
    <a href="" style="margin-right:20px;">sitemap</a>
    <a href="" style="margin-left:20px;">contact microsoft</a>
    <a href="" style="margin-left:20px;">privacy</a>
    <a href="" style="margin-left:20px;">terms of use</a><br><br>microsoftwindows2007<br> www.pc games.com <br><u>2023 - Free download pc games-pa games.all rightreserved</u></div>

</div></div>


    
</body>
</html>